body {
  padding: 10px;
  background: #00000095;
}

#container {
  display: inline-grid;
  grid-template-columns: repeat(4, 70px);
  background: #000000;
  gap: 11px;
  padding: 13px;
  border-radius: 5px;
  transform: translate(0.5);
  border: solid 1px white;
}

#resultado {
  grid-column: span 4;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  color: white;
  border: solid 0.8px white;
}

#limpar {
  color: red;
}

#juros {
  grid-column: span 4;
  display: none;
}

#juros .input {
  border: 0;
  outline: 0;
  padding: 3px;
  width: 98%;
  font-size: 1.01em;
  background: #40404089;
  color: white;
  border-bottom: solid 0.5px white;
  border-left: solid 0.5px white;
  margin: 0px 0px 5px 0px;
}
#juros .input::placeholder {
  color: #ffffff88;
}

#js {
  grid-column: span 2;
}
#ks {
  font-size: 23px;
}
.btn {
  height: 70px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 40px;
  background: #404040;
  transition: 0.03s;
  box-shadow: 4px 4px 3px #54545476;
  border: solid 1px white;
}

#limpar:active {
  transform: scale(0.95);
  background: #d1d1d176;
  transition: 0.1;
}
button:active {
  transform: scale(0.95);
  background: #d1d1d176;
  transition: 0.1;
}
#calcular,
#multiplicar,
#dividir,
#somar,
#subtrair {
  color: #30ddff;
}
